src/com/akatus/connect/api/v1/cart/cart.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:akt="http://connect.akatus.com/" elementFormDefault="qualified"
	targetNamespace="http://connect.akatus.com/">

	<xsd:element name="carrinho">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="recebedor" type="akt:Receiver" />
				<xsd:element name="pagador" type="akt:Payer" />
				<xsd:element name="produtos" type="akt:Products" />
				<xsd:element name="transacao" type="akt:Transaction" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="Receiver">
		<xsd:sequence>
			<xsd:element name="api_key">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="40" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="email">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="Payer">
		<xsd:sequence>
			<xsd:element name="nome" type="xsd:string" minOccurs="1"
				maxOccurs="1" />
			<xsd:element name="email" type="xsd:string" minOccurs="1"
				maxOccurs="1" />
			<xsd:element name="enderecos" type="akt:Addresses"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="telefones" type="akt:Phones"
				minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="Addresses">
		<xsd:sequence>
			<xsd:element name="endereco" type="akt:Address"
				minOccurs="1" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="Address">
		<xsd:sequence>
			<xsd:element name="tipo" minOccurs="1" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="entrega" />
						<xsd:enumeration value="comercial" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="logradouro" minOccurs="1" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="numero" minOccurs="1" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:maxInclusive value="9999999999" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="bairro" minOccurs="1" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="40" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="complemento" minOccurs="0" maxOccurs="1"
				nillable="true">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="cidade" minOccurs="1" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="50" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="estado" minOccurs="1" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="AC" />
						<xsd:enumeration value="AL" />
						<xsd:enumeration value="AM" />
						<xsd:enumeration value="BA" />
						<xsd:enumeration value="CE" />
						<xsd:enumeration value="ES" />
						<xsd:enumeration value="DF" />
						<xsd:enumeration value="GO" />
						<xsd:enumeration value="MA" />
						<xsd:enumeration value="MT" />
						<xsd:enumeration value="MS" />
						<xsd:enumeration value="MG" />
						<xsd:enumeration value="PA" />
						<xsd:enumeration value="PB" />
						<xsd:enumeration value="PR" />
						<xsd:enumeration value="PE" />
						<xsd:enumeration value="PI" />
						<xsd:enumeration value="RJ" />
						<xsd:enumeration value="RN" />
						<xsd:enumeration value="RS" />
						<xsd:enumeration value="RO" />
						<xsd:enumeration value="RR" />
						<xsd:enumeration value="SC" />
						<xsd:enumeration value="SP" />
						<xsd:enumeration value="SE" />
						<xsd:enumeration value="TO" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="pais" minOccurs="1" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="BRA" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="cep" minOccurs="1" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="8" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="Phones">
		<xsd:sequence>
			<xsd:element name="telefone" type="akt:Phone" minOccurs="1"
				maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="Phone">
		<xsd:sequence>
			<xsd:element name="tipo" minOccurs="1" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="comercial" />
						<xsd:enumeration value="residencial" />
						<xsd:enumeration value="celular" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="numero" minOccurs="1" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:minInclusive value="1000000000" />
						<xsd:maxInclusive value="9999999999" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="Products">
		<xsd:sequence>
			<xsd:element name="produto" type="akt:Product" minOccurs="1"
				maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="Product">
		<xsd:sequence>
			<xsd:element name="codigo" minOccurs="1" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value="[a-zA-Z0-9]{1,70}" />
						<xsd:maxLength value="70" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="descricao" minOccurs="1" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="quantidade" minOccurs="1" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:maxInclusive value="99999999999" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="preco" type="xsd:float" minOccurs="1"
				maxOccurs="1" />
			<xsd:element name="peso" type="xsd:float" minOccurs="1"
				maxOccurs="1" />
			<xsd:element name="frete" type="xsd:float" minOccurs="1"
				maxOccurs="1" />
			<xsd:element name="desconto" type="xsd:float" minOccurs="1"
				maxOccurs="1" default="0" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="Transaction">
		<xsd:sequence>
			<xsd:element name="desconto_total" type="xsd:float"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="peso_total" type="xsd:float"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="frete_total" type="xsd:float"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="moeda" minOccurs="1" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="BRL" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="referencia" minOccurs="0" maxOccurs="1"
				nillable="true">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="20" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="meio_de_pagamento" minOccurs="1"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="boleto" />
						<xsd:enumeration value="tef_itau" />
						<xsd:enumeration value="tef_bradesco" />
						<xsd:enumeration value="cartao_visa" />
						<xsd:enumeration value="cartao_master" />
						<xsd:enumeration value="cartao_amex" />
						<xsd:enumeration value="cartao_elo" />
						<xsd:enumeration value="cartao_diners" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:group ref="akt:cartao" minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:group name="cartao">
		<xsd:sequence>
			<xsd:element name="numero" minOccurs="1" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:maxInclusive value="9999999999999999999" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="parcelas" minOccurs="1" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:maxInclusive value="99" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="codigo_de_seguranca" minOccurs="1"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:maxInclusive value="99999" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="expiracao" minOccurs="1" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value="(0[1-9]|1[0-2])/[1-2][0-9]{3}" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="portador" type="akt:Holder" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
	</xsd:group>
	
	<xsd:complexType name="Holder">
	   <xsd:sequence>
	       <xsd:element name="nome" type="xsd:string" minOccurs="1" maxOccurs="1" />
	       <xsd:element name="cpf" minOccurs="1" maxOccurs="1">
	           <xsd:simpleType>
	               <xsd:restriction base="xsd:integer">
	                   <xsd:maxInclusive value="99999999999" />
	               </xsd:restriction>
	           </xsd:simpleType>
	       </xsd:element>
	       <xsd:element name="telefone" minOccurs="1" maxOccurs="1">
               <xsd:simpleType>
                   <xsd:restriction base="xsd:integer">
                       <xsd:maxInclusive value="9999999999" />
                   </xsd:restriction>
               </xsd:simpleType>
           </xsd:element>
	   </xsd:sequence>
	</xsd:complexType>
</xsd:schema>